
@{
    ViewBag.Title = "Reporte";
}
<br/>
<br />
<h2>Monto actual en caja</h2>
<h1>₡ @ViewBag.MontoCaja</h1>

<h2>Monto destinado en el peor de los casos</h2>
<h1>₡ @ViewBag.MontoPremiosPeorCaso</h1>


<h2>Ganancia mínima posible</h2>
<h1>₡ @ViewBag.MontoGananciaMinima</h1>

<h2>Ganancia máxima posible</h2>
<h1>₡ @ViewBag.MontoGananciaMaxima</h1>



